:root{
    --color-fondo: #030b14; /* Fondo general / Navbar */
    --color-primario: #1E3A8A; /* Boton principal */
    --color-secundario: #00B4DB; /* Hovers */
    --color-detalle: #7B61FF; /* Elementos destacados */
    --color-blanco: #FFFFFF;  /* Texto principal */
    --color-metadata: #8D99AE; /* Texto secundario, descripciones, fechas */
    --color-cards: #13243A; /* Cards / Secciones */
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #030b14;
}

.titulo-jazz{
    color:var(--color-blanco);
}

span{
    color: var(--color-blanco);
}
.titulo-jazz:hover{
color: var(--color-detalle);
}
.row-hover:hover{
 background-color: var(--color-cards);
}


